<!doctype html>
<html class="no-js" lang="" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="utf-8">
    <title>Index Page | Persistence Journal</title>
    <meta name="description" content="Something, something, something.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Jacob Crook">

    <link rel="canonical" href="">
    <link rel="apple-touch-icon" href="icon.png">
    <!-- TODO: Place favicon.ico in the root directory -->
    <link rel="icon" href="favicon.ico" type="image/gif" sizes="16x16">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/boiler-plate.css">
    
    <link rel="stylesheet" type="text/css" href="http://cdn.jsdelivr.net/webjars/bootstrap/4.1.0/css/bootstrap.min.css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
    <link rel="stylesheet" type="text/css" href="../css/main.css" th:href="@{css/main.css}" />
    <link rel="stylesheet" href="css/dev-only.css">


    <script src="js/vendor/jquery-3.4.1.min.js"></script>
    <!-- TODO: <script src="./assets/js/main.js"></script> -->
    <meta name="theme-color" content="#fafafa">
</head>

<body>
    <div id="main" class="container relative">
        <!--[if IE]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
          <![endif]-->

        <section id="header">
            <!-- NavBar Start -->
            <div class="relative">
                <div class="flex-container flex-col nav-salesbar-wrap">
                    <header class="flex-item">
                        <div id="mobileNavFloatTrigger" class="fixed"></div>
                        <div class="mobile-nav-wrap fixed">
                            <div class="header mx fixed"></div>
                            <div class="header-nav-area"></div>
                        </div>
                        <div class="header nomx">
                            <div class="inner relative">
                                <div class="header-logo">
                                    <a href="/">
                                        <img src="assets\img\logo.png" alt="Persistence Journal">
                                    </a>
                                </div>
                                <div class="header-support"><i class="fa fa-phone"></i>&nbsp;: <a href="tel:18001232345">1.800.123.2345</a></div>
                                <nav class="header-dx-nav flex-container flex-row flex-center" role="navigation">
                                    <div class="flex-item header-nav-item">
                                        <div class="header-nav-category">
                                            <a href="/">Home</a>
                                        </div>
                                    </div>
                                    <div class="flex-item header-nav-item">
                                        <div class="header-nav-category">
                                            <a href="login">Login</a>
                                        </div>
                                    </div>
                                    <div class="flex-item header-nav-item">
                                        <div class="header-nav-category">
                                            <a href="journal">My Journal</a>
                                        </div>
                                    </div>
                                    <div class="flex-item header-nav-item">
                                        <div class="header-nav-category">
                                            <a href="habits">My Habits</a>
                                        </div>
                                    </div>
                                    <div class="flex-item header-nav-item">
                                        <div class="header-nav-category">
                                            <a href="milestones">My Milestones</a>
                                        </div>
                                    </div>

                                </nav>
                            </div>
                        </div>
                    </header>
                </div>
            </div>
            <!-- NavBar End -->
        </section>

        <main id="content-area" role="main">
        </main>

        <section id="footer">
        </section>

    </div>
</body>

</html>