<head>
    <meta charset="utf-8">
    <title th:text="${view.title}"></title>
    <meta name="description" content="Something, something, something.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Jacob Crook">

    <link rel="canonical" href="">
    <link rel="apple-touch-icon" href="icon.png">
    <!-- TODO: Place favicon.ico in the root directory -->
    <link rel="icon" href="favicon.ico" type="image/gif" sizes="16x16">

    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/boiler-plate.css">
    <link rel="stylesheet" href="css/main.css">
    <!-- TODO: <link rel="stylesheet" href="css/pjhome-styles.css"> -->


    <script src="js/vendor/jquery-3.4.1.min.js"></script>
    <!-- TODO: <script src="./assets/js/pj-scripts.js"></script> -->
    <!-- TODO: <script src="./assets/js/main.js"></script> -->
    <meta name="theme-color" content="#fafafa">
</head>