<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>My Behaviors</title>
</head>

<body>
    <h1>My Behaviors</h1>
    <form method="POST" modelAttribute="behaviors">
        <table>
            <tr>
                <td>
                    Behavior Description:
                </td>
                <td>
                    <input type="text" />
                </td>
                <td>
                    <input type="submit" value="Add Behavior">
                </td>
            </tr>
        </table>
    </form>
</body>

</html>