<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <title>Behavior App</title>
        <meta name="description" content="Behavior tracking journal.">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="author" content="Jacob Crook">
        <link rel="apple-touch-icon" href="icon.png">
        <link rel="icon" href="favicon.ico" type="image/gif" sizes="16x16">        
    
        <meta name="theme-color" content="#fafafa">
    </head>
  <body>
    <div id="main" class="container relative">
      <!--[if IE]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
          <![endif]-->

      <section id="header">
      </section>

      <main id="content-area" role="main">
      </main>

      <section id="footer">
      </section>

    </div>
  </body>

</html>
